
phim{
  float:left;
}

tbody .phim td{
    
   }
tbody .phim img{
    border-radius: 3%;
    width: 25vw;
    height: 15vw;
    margin: 0.5vw;
     }
.singin{
    padding-left: 3cm;
}

/* thiết lập style cho thẻ a */
.pagination a {
    color: rgb(91, 139, 186);
    float: left;
    padding:  2.5vw 2vw;
    text-decoration: none;
    font-size: 1.7vw;
    box-sizing: border-box;
  }
 /* thiết lập style cho class active */
  .pagination a.active {
    width: auto;
    height: auto;
    margin-top: 2vw;
    background-color: red;
    color: white;
    /*Thiết kế hình tròn với CSS*/
    border-radius: 50%;
    box-sizing: border-box;
<<<<<<< Updated upstream

=======
>>>>>>> Stashed changes
  }
 /* thêm màu nền khi người dùng hover vào class không active */
  .pagination a:hover:not(.active) {
    width: auto;
    height: auto;
    margin-top: 2vw;
    background-color: rgb(205, 190, 190);
    /*Thiết kế hình tròn với CSS*/
    border-radius: 50%;
    box-sizing: border-box;

  }
  .pagination {
    width: 45vw;
    height: 4vw;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;

  }
